.categories {
   margin-bottom:6px;
   
   button {
      background-color: #fff;
      margin-left: 15px;
      margin-right: 15px;
      font-weight: 400;
      transition: all ease 0.4s;
      @include sombra-padrao;

      &:hover {
         background-color: #dbdbdb;
      }
   }

   .container {
      text-align: center;
   }
}

//fix click area in Chrome
.MuiButton-label-3 {
   pointer-events: none;
}